In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\Dell\Desktop\Programs\Scaraping\py-scraping\Combined_csvs\final_cleaned_smartphones2.csv')

In [3]:
df = data.copy()

In [4]:
df.columns

Index(['product_name', 'rating_stars', 'number_of_reviews',
       'bought_last_month', 'discounted_mrp', 'original_mrp', 'discount%',
       'free_delivery', 'brand', 'product', 'color', 'storage_in_GB',
       'RAM_in_GB'],
      dtype='object')

## Scaling valriables to 0-1

> Scaling discount % by 1 - dis/original

> discount = 100 * (this)  % for rescaling

> discount price = (1-(this))*original mrp

In [5]:
df["discount%"] = (1 - (df["discounted_mrp"] / df["original_mrp"]))
df["discount%"] = df["discount%"].round(6)

df["discount%"].value_counts()
df["discount%"].describe()

count    450.000000
mean       0.215850
std        0.135750
min        0.000000
25%        0.129229
50%        0.204925
75%        0.284620
max        0.653342
Name: discount%, dtype: float64

> Scaling ratings

In [6]:
df["rating_stars"] = df["rating_stars"]/5
df["rating_stars"] = df["rating_stars"].round(6)
df["rating_stars"].describe()

count    450.000000
mean       0.801689
std        0.102437
min        0.200000
25%        0.760000
50%        0.820000
75%        0.860000
max        1.000000
Name: rating_stars, dtype: float64

> Scaling (Min - Max) = (this - min)/(max - min) for number_of_reviews

In [7]:
min = df["number_of_reviews"].min()
max = df["number_of_reviews"].max()
print(min)
print(max)

df["number_of_reviews"] = (df["number_of_reviews"]-min)/(max-min)
df["number_of_reviews"] = df["number_of_reviews"].round(6)
df["number_of_reviews"]

1
150734

0      0.001433
1      0.001406
2      0.051867
3      0.043872
4      0.020798
         ...
445    0.000537
446    0.001406
447    0.000537
448    0.037855
449    0.675015
Name: number_of_reviews, Length: 450, dtype: float64

> Min-Max scaling = (this - min)/(max - min) for bought_last_month

In [8]:
min = df["bought_last_month"].min()
max = df["bought_last_month"].max()
print(min)
print(max)

df["bought_last_month"] = (df["bought_last_month"]-min)/(max-min)
df["bought_last_month"] = df["bought_last_month"].round(6)
df["bought_last_month"].value_counts()

0
5000

bought_last_month
0.00    170
0.02     51
0.04     45
0.10     42
0.01     39
0.20     29
1.00     22
0.06     17
0.08     15
0.40      9
0.80      7
0.60      4
Name: count, dtype: int64

> Min-Max scaling = (this - min)/(max - min) for original_mrp

In [9]:
min = df["original_mrp"].min()
max = df["original_mrp"].max()
print(min)
print(max)

df["original_mrp"] = (df["original_mrp"]-min)/(max-min)
df["original_mrp"] = df["original_mrp"].round(6)
df["original_mrp"].value_counts()

8999
199900

original_mrp
0.062860    20
0.423785    19
0.036668    16
0.125720    16
0.057621    13
            ..
0.104719     1
0.204247     1
0.034049     1
0.041859     1
0.711893     1
Name: count, Length: 98, dtype: int64

> Min-Max scaling = (this - min)/(max - min) for storage_in_GB

In [10]:
min = df["storage_in_GB"].min()
max = df["storage_in_GB"].max()
print(min)
print(max)

df["storage_in_GB"] = (df["storage_in_GB"]-min)/(max-min)
df["storage_in_GB"] = df["storage_in_GB"].round(6)
df["storage_in_GB"].value_counts()

32
512

storage_in_GB
0.200000    221
0.466667    147
1.000000     55
0.066667     24
0.000000      3
Name: count, dtype: int64

> Min-Max scaling = (this - min)/(max - min) for RAM_in_GB

In [11]:
min = df["RAM_in_GB"].min()
max = df["RAM_in_GB"].max()
print(min)
print(max)

df["RAM_in_GB"] = (df["RAM_in_GB"]-min)/(max-min)
df["RAM_in_GB"] = df["RAM_in_GB"].round(6)
df["RAM_in_GB"].value_counts()

2
16

RAM_in_GB
0.428571    194
0.285714    147
0.714286     58
0.142857     38
1.000000      8
0.071429      3
0.000000      2
Name: count, dtype: int64

> NOW encoding the categorical variables

> Categorical variables are : brand and color

```markdown
Both are encoded using one hot encoding as the are **nominal** variables
```

In [12]:
df.drop(["product_name","product","discounted_mrp"],axis=1,inplace=True)
df.columns

Index(['rating_stars', 'number_of_reviews', 'bought_last_month',
       'original_mrp', 'discount%', 'free_delivery', 'brand', 'color',
       'storage_in_GB', 'RAM_in_GB'],
      dtype='object')

In [13]:
df["brand"].value_counts()

brand
apple      115
samsung     68
vivo        50
redmi       46
oneplus     45
oppo        41
realme      41
xiaomi      30
iphone      14
Name: count, dtype: int64

In [14]:
df = pd.get_dummies(df, columns=['brand'], prefix='brand')
df.head()

,rating_stars,number_of_reviews,bought_last_month,original_mrp,discount%,free_delivery,color,storage_in_GB,RAM_in_GB,brand_apple,brand_iphone,brand_oneplus,brand_oppo,brand_realme,brand_redmi,brand_samsung,brand_vivo,brand_xiaomi
0,0.90,0.001433,0.04,0.371402,0.175219,0,Green,0.2,0.285714,True,False,False,False,False,False,False,False,False
1,0.88,0.001406,0.02,0.369830,0.172111,0,Pink,0.2,0.285714,True,False,False,False,False,False,False,False,False
2,0.90,0.051867,1.00,0.266636,0.240568,0,Starlight,0.2,0.285714,True,False,False,False,False,False,False,False,False
3,0.90,0.043872,1.00,0.265064,0.236745,0,Midnight,0.2,0.285714,True,False,False,False,False,False,False,False,False
4,0.90,0.020798,1.00,0.266636,0.240568,0,Pink,0.2,0.285714,True,False,False,False,False,False,False,False,False

In [15]:
df["color"].value_counts()

color
Black               159
Blue                 65
Green                49
Red                  37
White                26
Pink                 17
Silver               13
Yellow               10
Natural Titanium      9
Gold                  8
Midnight              8
Starlight             8
Gray                  7
Purple                7
Teal                  5
White Titanium        5
Ultramarine           5
Black Titanium        4
Blue Titanium         3
Space Black           2
Desert Titanium       1
Graphite              1
Pacific Blue          1
Name: count, dtype: int64

In [16]:
df = pd.get_dummies(df, columns=['color'], prefix='color')
df.head()

,rating_stars,number_of_reviews,bought_last_month,original_mrp,discount%,free_delivery,storage_in_GB,RAM_in_GB,brand_apple,brand_iphone,...,color_Purple,color_Red,color_Silver,color_Space Black,color_Starlight,color_Teal,color_Ultramarine,color_White,color_White Titanium,color_Yellow
0,0.90,0.001433,0.04,0.371402,0.175219,0,0.2,0.285714,True,False,...,False,False,False,False,False,False,False,False,False,False
1,0.88,0.001406,0.02,0.369830,0.172111,0,0.2,0.285714,True,False,...,False,False,False,False,False,False,False,False,False,False
2,0.90,0.051867,1.00,0.266636,0.240568,0,0.2,0.285714,True,False,...,False,False,False,False,True,False,False,False,False,False
3,0.90,0.043872,1.00,0.265064,0.236745,0,0.2,0.285714,True,False,...,False,False,False,False,False,False,False,False,False,False
4,0.90,0.020798,1.00,0.266636,0.240568,0,0.2,0.285714,True,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df.columns

Index(['rating_stars', 'number_of_reviews', 'bought_last_month',
       'original_mrp', 'discount%', 'free_delivery', 'storage_in_GB',
       'RAM_in_GB', 'brand_apple', 'brand_iphone', 'brand_oneplus',
       'brand_oppo', 'brand_realme', 'brand_redmi', 'brand_samsung',
       'brand_vivo', 'brand_xiaomi', 'color_Black', 'color_Black Titanium',
       'color_Blue', 'color_Blue Titanium', 'color_Desert Titanium',
       'color_Gold', 'color_Graphite', 'color_Gray', 'color_Green',
       'color_Midnight', 'color_Natural Titanium', 'color_Pacific Blue',
       'color_Pink', 'color_Purple', 'color_Red', 'color_Silver',
       'color_Space Black', 'color_Starlight', 'color_Teal',
       'color_Ultramarine', 'color_White', 'color_White Titanium',
       'color_Yellow'],
      dtype='object')

In [20]:
cols_to_convert = ['brand_apple','brand_iphone','brand_oneplus','brand_oppo', 'brand_realme', 'brand_redmi', 'brand_samsung','brand_vivo', 'brand_xiaomi', 'color_Black', 'color_Black Titanium','color_Blue', 'color_Blue Titanium', 'color_Desert Titanium','color_Gold', 'color_Graphite', 'color_Gray', 'color_Green','color_Midnight', 'color_Natural Titanium', 'color_Pacific Blue','color_Pink', 'color_Purple', 'color_Red', 'color_Silver','color_Space Black','color_Starlight', 'color_Teal','color_Ultramarine', 'color_White', 'color_White Titanium','color_Yellow']

df[cols_to_convert] = df[cols_to_convert].astype(int)
df[cols_to_convert].dtypes

df.head()

,rating_stars,number_of_reviews,bought_last_month,original_mrp,discount%,free_delivery,storage_in_GB,RAM_in_GB,brand_apple,brand_iphone,...,color_Purple,color_Red,color_Silver,color_Space Black,color_Starlight,color_Teal,color_Ultramarine,color_White,color_White Titanium,color_Yellow
0,0.90,0.001433,0.04,0.371402,0.175219,0,0.2,0.285714,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0.88,0.001406,0.02,0.369830,0.172111,0,0.2,0.285714,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0.90,0.051867,1.00,0.266636,0.240568,0,0.2,0.285714,1,0,...,0,0,0,0,1,0,0,0,0,0
3,0.90,0.043872,1.00,0.265064,0.236745,0,0.2,0.285714,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0.90,0.020798,1.00,0.266636,0.240568,0,0.2,0.285714,1,0,...,0,0,0,0,0,0,0,0,0,0