In [65]:
import pandas as pd
import numpy as np
import re

In [66]:
df = pd.read_csv("Amazon-Realme-csvs/amazon_page_2.csv")
df

,Product Name,Rating (Stars),Number of Reviews,Bought Last Month,Current MRP,Dashed MRP,Discount (%),Free Delivery
0,NaN,NaN,NaN,M.R.P:,399.0,₹999,(60% off),Yes
1,NaN,3.9,455,4K+ bought in past month,12934.0,₹17999,(28% off),Yes
2,NaN,4.2,68,50+ bought in past month,949.0,₹1699,(44% off),No
3,NaN,3.9,76,100+ bought in past month,27999.0,₹33999,(18% off),Yes
4,NaN,4.0,132,200+ bought in past month,17495.0,₹24999,(30% off),Yes
5,NaN,3.6,14,200+ bought in past month,10999.0,₹14999,(27% off),Yes
6,NaN,4.2,"15,066",8K+ bought in past month,1799.0,₹2999,(40% off),Yes
7,NaN,4.1,145,200+ bought in past month,14379.0,₹20999,(32% off),Yes
8,NaN,4.1,637,M.R.P:,15999.0,₹19999,(20% off),Yes
9,NaN,4.5,4,300+ bought in past month,8448.0,₹9999,(16% off),Yes
10,NaN,4.0,39,50+ bought in past month,16990.0,₹23999,(29% off),Yes
11,NaN,4.4,176,300+ bought in past month,32998.0,₹35999,(8% off),Yes
12,NaN,4.0,32,200+ bought in past month,16200.0,₹22999,(30% off),Yes
13,NaN,4.1,7,300+ bought in past month,14499.0,₹18999,(24% off),Yes
14,NaN,5.0,4,400+ bought in past month,7347.0,₹8999,(18% off),Yes
15,NaN,4.1,121,200+ bought in past month,39999.0,₹41999,(5% off),Yes
16,NaN,4.0,520,500+ bought in past month,15980.0,₹21999,(27% off),Yes
17,NaN,4.0,"2,056",5K+ bought in past month,9199.0,₹13999,(34% off),Yes
18,NaN,4.1,100,100+ bought in past month,39998.0,₹41999,(5% off),Yes
19,NaN,4.2,"15,066",8K+ bought in past month,1199.0,₹2499,(52% off),Yes
20,NaN,4.4,"2,505",5K+ bought in past month,79999.0,₹149999,(47% off),Yes
21,NaN,4.3,84,M.R.P:,2399.0,₹3999,(40% off),No
22,NaN,3.9,212,500+ bought in past month,27999.0,₹33999,(18% off),Yes
23,NaN,4.2,88,M.R.P:,8990.0,₹18990,(53% off),Yes
24,NaN,3.9,"2,056",5K+ bought in past month,9199.0,₹13999,(34% off),Yes
25,NaN,3.6,11,300+ bought in past month,11427.0,₹14990,(24% off),Yes
26,NaN,4.0,14,200+ bought in past month,11978.0,₹13999,(14% off),Yes
27,NaN,4.0,537,M.R.P:,11666.0,₹16999,(31% off),Yes
28,NaN,4.7,41,500+ bought in past month,17998.0,₹20999,(14% off),Yes
29,NaN,4.2,34,200+ bought in past month,20998.0,₹23999,(13% off),Yes
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
31,NaN,4.1,"9,662",6K+ bought in past month,2499.0,₹3999,(38% off),Yes
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
33,NaN,3.4,26,4K+ bought in past month,1499.0,₹2999,(50% off),Yes
34,NaN,4.2,147,500+ bought in past month,35998.0,₹37999,(5% off),Yes
35,NaN,4.2,"15,066",1K+ bought in past month,1799.0,₹2999,(40% off),Yes
36,NaN,4.4,715,500+ bought in past month,32998.0,₹35999,(8% off),Yes
37,NaN,4.0,537,100+ bought in past month,11898.0,₹17999,(34% off),Yes
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
39,NaN,4.0,32,200+ bought in past month,16650.0,₹22999,(28% off),Yes
40,NaN,4.0,520,500+ bought in past month,15344.0,₹20999,(27% off),Yes
41,NaN,4.1,454,50+ bought in past month,29079.0,₹37999,(23% off),Yes
42,NaN,4.0,"1,031",1K+ bought in past month,3299.0,₹5999,(45% off),Yes
43,NaN,4.1,"1,982",1K+ bought in past month,4999.0,₹7999,(38% off),Yes
44,NaN,4.0,32,300+ bought in past month,14781.0,₹21999,(33% off),Yes
45,NaN,4.1,"9,662",2K+ bought in past month,2499.0,₹3999,(38% off),Yes
46,NaN,4.0,1,100+ bought in past month,16811.0,₹20999,(20% off),Yes
47,NaN,3.6,5,100+ bought in past month,36988.0,₹40999,(10% off),Yes
48,NaN,4.0,537,50+ bought in past month,11485.0,₹16999,(32% off),Yes
49,NaN,4.0,"1,031",1K+ bought in past month,3299.0,₹5999,(45% off),Yes
50,NaN,4.0,"1,031",1K+ bought in past month,3299.0,₹5999,(45% off),Yes
51,NaN,3.3,96,700+ bought in past month,1298.0,₹2999,(57% off),Yes
52,NaN,4.2,"15,066",4K+ bought in past month,1799.0,₹2999,(40% off),Yes
53,NaN,4.1,"1,982",500+ bought in past month,4999.0,₹7999,(38% off),Yes
54,NaN,4.2,"15,066",1K+ bought in past month,1299.0,₹2499,(48% off),Yes
55,NaN,3.1,16,100+ bought in past month,23628.0,₹30999,(24% off),Yes
56,NaN,3.9,770,5K+ bought in past month,6999.0,₹9999,(30% off),Yes
57,NaN,3.8,10,NaN,NaN,NaN,NaN,No
58,NaN,4.2,393,500+ bought in past month,1802.0,₹5999,(70% off),Yes
59,NaN,3.8,467,500+ bought in past month,798.0,₹2899,(72% off),Yes

In [68]:

# Step 1: Update 'Bought Last Month' to 0 where it contains 'M.R.P:' or doesn't contain numbers
df['Bought Last Month'] = df['Bought Last Month'].apply(lambda x: 0 if isinstance(x, str) and ('M.R.P:' in x or not any(char.isdigit() for char in x)) else x)

# Step 2: Remove rows where 'Current MRP' is NaN
df = df[df['Current MRP'].notna()]

# Step 3: Ensure all values in 'Product Name' are strings
df['Product Name'] = df['Product Name'].astype(str)

# Step 4: Remove rows where 'Product Name' does not contain 'Realme'
df = df[df['Product Name'].str.contains('Realme', case=False)]

# Step 5: Remove rows where 'Rating (Stars)' is NaN
df = df[df['Rating (Stars)'].notna()]
# Display the cleaned dataframe
df

C:\Users\Dell\AppData\Local\Temp\ipykernel_22124\1562473089.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bought Last Month'] = df['Bought Last Month'].apply(lambda x: 0 if isinstance(x, str) and ('M.R.P:' in x or not any(char.isdigit() for char in x)) else x)

Empty DataFrame
Columns: [Product Name, Rating (Stars), Number of Reviews, Bought Last Month, Current MRP, Dashed MRP, Discount (%), Free Delivery]
Index: []

In [69]:
# Define color options to check against
colors = ['Black', 'Blue', 'White', 'Gray', 'Silver', 'Green', 'Red', 'Pink', 'Gold']

# Step 1: Define Brand based on Product Name
df['Brand'] = df['Product Name'].apply(lambda x: 'Realme' if 'Realme' in x else 'Unknown')

# Step 2: Extract Product Name (i.e., everything after 'Vivo')
df['Product'] = df['Product Name'].apply(
    lambda x: re.search(r'Realme ([^(]+)', x).group(0) if re.search(r'Realme ([^(]+)', x) else None
)

# Step 3: Extract Color (if exists, otherwise default to 'Black')
df['Color'] = df['Product Name'].apply(
    lambda x: next((color for color in colors if color in x), 'Black')
)

# Step 4: Extract RAM (in the format of '6GB', '8GB', etc.)
df['RAM'] = df['Product Name'].apply(
    lambda x: re.search(r'(\d+GB)(?=\s*RAM)', x).group(0) if re.search(r'(\d+GB)(?=\s*RAM)', x) else None
)

# Step 5: Extract Storage (in the format of '128GB', '256GB', etc.)
df['Storage'] = df['Product Name'].apply(
    lambda x: re.search(r'(\d+GB)(?=\s*Storage)', x).group(0) if re.search(r'(\d+GB)(?=\s*Storage)', x) else None
)

# Step 6: Remove rows where RAM or Storage is missing
df = df.dropna(subset=['RAM', 'Storage'])

# Display the dataframe with the new columns
df

Empty DataFrame
Columns: [Product Name, Rating (Stars), Number of Reviews, Bought Last Month, Current MRP, Dashed MRP, Discount (%), Free Delivery, Brand, Product, Color, RAM, Storage]
Index: []

In [70]:
# Function to convert Bought Last Month to a numeric value
def convert_bought_last_month(value):
    if pd.isna(value) or not isinstance(value, str):  # Check for NaN or non-string values
        return 0  # Return 0 if NaN or not a string
    # Extract number from string (handle cases like 5K, 200+)
    match = re.search(r'(\d+)(K|\+)?', value)
    if match:
        number = int(match.group(1))  # Get the number part
        if match.group(2) == 'K':  # If 'K' is present, multiply by 1000
            number *= 1000
        return number
    return 0  # Return 0 if regex doesn't match

# Function to convert Dashed MRP to numeric value
def convert_dashed_mrp(value, current_mrp):
    if pd.isna(value):  # If NaN, use the Current MRP
        return current_mrp
    # Remove ₹ symbol and commas, then convert to integer
    if isinstance(value, str):
        return int(value.replace('₹', '').replace(',', '').strip())
    return current_mrp  # If conversion fails, return current MRP

# Function to convert Discount (%) to numeric, handle NaN as 0
def convert_discount(value):
    if pd.isna(value):  # If NaN, return 0
        return 0
    # Check if the value is a string and contains '%' symbol
    if isinstance(value, str):
        # Extract the number before the '%' sign, ignoring any non-numeric characters
        match = re.search(r'(\d+)', value)
        if match:
            return float(match.group(1))
    return 0  # Return 0 if the value cannot be converted

# Apply the conversion functions to the respective columns
df['New Bought Last Month'] = df['Bought Last Month'].apply(convert_bought_last_month)
df['New Dashed MRP'] = df['Dashed MRP'].apply(lambda x: convert_dashed_mrp(x, df['Current MRP']))
df['New Discount (%)'] = df['Discount (%)'].apply(convert_discount)

# Display the dataframe with the new columns
df

Empty DataFrame
Columns: [Product Name, Rating (Stars), Number of Reviews, Bought Last Month, Current MRP, Dashed MRP, Discount (%), Free Delivery, Brand, Product, Color, RAM, Storage, New Bought Last Month, New Dashed MRP, New Discount (%)]
Index: []

In [71]:
df.to_csv('Filtered-csvs/Realme/amazon_page_2.csv', index=False)

> finally add a column to the dataframe that contains ram : 

```python
iPhone 16
8 GB
iPhone 16 Plus
8 GB
iPhone 14
6 GB
iPhone 14 Plus
6 GB
iPhone 13
4 or 6 GB
iPhone 12
4 GB
iPhone 11
4 GB
iPhone SE (2nd gen.)
3 GB