In [1]:
import pandas as pd

# List of CSV file names
file_names = ["iphone.csv", "oneplus.csv", "oppo.csv", "realme.csv", "samsung.csv", "vivo.csv", "xiaomi.csv"]

# Initialize an empty list to store DataFrames
dataframes = []

# Loop through each file and read its content into a DataFrame
for file_name in file_names:
    df = pd.read_csv(file_name)  # Read the CSV file
    dataframes.append(df)        # Append the DataFrame to the list

# Concatenate all DataFrames
merged_df = pd.concat(dataframes, ignore_index=True)

# Save the combined DataFrame to a new CSV file
merged_df.to_csv("merged_smartphones.csv", index=False)

print("All files have been merged and saved to 'merged_smartphones.csv'.")

All files have been merged and saved to 'merged_smartphones.csv'.

In [2]:
df = pd.read_csv("merged_smartphones.csv")
df.isnull().sum()

Product Name               0
Rating (Stars)             0
Number of Reviews          0
Bought Last Month         15
Current MRP                0
Dashed MRP                27
Discount (%)              29
Free Delivery              0
Brand                     14
Product                  109
Storage                   14
Color                      4
New Bought Last Month      0
New Dashed MRP             0
New Discount (%)           0
RAM                        0
dtype: int64

In [3]:
df.shape

(455, 16)

In [4]:
df[df['Product'].isnull()]

,Product Name,Rating (Stars),Number of Reviews,Bought Last Month,Current MRP,Dashed MRP,Discount (%),Free Delivery,Brand,Product,Storage,Color,New Bought Last Month,New Dashed MRP,New Discount (%),RAM
50,Apple iPhone 15 Pro Max (1 TB) - Natural Titanium,3.0,10,M.R.P:,159900.0,₹199900,(20% off),0,NaN,NaN,NaN,Red,0,199900.0,20.0,6 GB
52,Apple iPhone 15 Pro Max (1 TB) - Black Titanium,3.6,7,M.R.P:,159900.0,₹199900,(20% off),0,NaN,NaN,NaN,Red,0,199900.0,20.0,6 GB
56,Apple iPhone 13 Pro Max (1TB) - Silver,4.6,"1,561",M.R.P:,157900.0,₹179900,(12% off),0,NaN,NaN,NaN,Red,0,179900.0,12.0,4 or 6 GB
77,Apple iPhone 16 Pro (1 TB) - White Titanium,3.8,44,NaN,169900.0,NaN,NaN,0,NaN,NaN,NaN,Red,0,169900.0,0.0,8 GB
84,Apple iPhone 15 Pro Max (1 TB) - White Titanium,4.2,7,M.R.P:,159900.0,₹199900,(20% off),0,NaN,NaN,NaN,Red,0,199900.0,20.0,6 GB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,"vivo Y18e (Space Black, 4GB RAM, 64GB Storage)...",3.9,153,100+ bought in past month,7999.0,₹11999,(33% off),No,Unknown,NaN,64GB,Black,100,11999,33.0,4GB
373,"vivo Y28s 5G(Twinkling Purple, 8GB RAM, 128GB ...",3.7,74,100+ bought in past month,16499.0,₹21999,(25% off),No,Unknown,NaN,128GB,Black,100,21999,25.0,8GB
375,"vivo Y18e (Gem Green, 4GB RAM, 64GB Storage) w...",3.9,153,100+ bought in past month,7999.0,₹11999,(33% off),No,Unknown,NaN,64GB,Green,100,11999,33.0,4GB
376,"vivo Y18 (Space Black, 4GB RAM, 128GB Storage)...",3.8,37,0,9499.0,₹13999,(32% off),No,Unknown,NaN,128GB,Black,0,13999,32.0,4GB
378,"vivo Y200 Pro 5G (Silk Green, 8GB RAM, 128GB S...",3.8,40,0,24999.0,₹29999,(17% off),No,Unknown,NaN,128GB,Green,0,29999,17.0,8GB

In [5]:
brands = ['iphone', 'oneplus', 'oppo', 'vivo', 'realme', 'xiaomi', 'redmi', 'samsung']

# Function to extract the brand based on keywords in 'Product Name'
def extract_brand(product_name):
    for brand in brands:
        if brand.lower() in product_name.lower():
            return brand.capitalize()
    return 'Unknown'  # If no brand is matched

# Fill missing 'Brand' based on 'Product Name'
df['Brand'] = df['Brand'].fillna(df['Product Name'].apply(extract_brand))

df['Brand'].isnull().sum()

0

In [6]:
import re

def clean_product_name(product_name):
    # Removing storage (e.g., '64GB', '128GB')
    product_name = re.sub(r'\d+GB', '', product_name)
    # Removing color (e.g., 'Black', 'Red', 'Green')
    product_name = re.sub(r'(Black|Red|Green|Blue|White|Silver|Titanium)', '', product_name, flags=re.IGNORECASE)
    # Removing RAM info (e.g., '8GB', '4GB')
    product_name = re.sub(r'\d+GB RAM', '', product_name)
    product_name = re.sub(r'\d+ GB', '', product_name)
    # Clean extra spaces
    return ' '.join(product_name.split())

# Clean 'Product Name' to remove storage, color, and RAM info
df['Product Name'] = df['Product Name'].apply(clean_product_name)

# Fill missing 'Product' with cleaned 'Product Name'
df['Product'] = df['Product'].fillna(df['Product Name'])

df['Product'].isnull().sum()

0

In [7]:
df["Free Delivery"].unique()

array(['1', '0', 'Yes', 'No'], dtype=object)

In [8]:
df.isnull().sum()

Product Name              0
Rating (Stars)            0
Number of Reviews         0
Bought Last Month        15
Current MRP               0
Dashed MRP               27
Discount (%)             29
Free Delivery             0
Brand                     0
Product                   0
Storage                  14
Color                     4
New Bought Last Month     0
New Dashed MRP            0
New Discount (%)          0
RAM                       0
dtype: int64

In [9]:
df['Bought Last Month'] = df['Bought Last Month'].fillna(0)

df['Discount (%)'] = df['Discount (%)'].fillna(0)

# Fill missing 'Dashed MRP' with the value from 'Current MRP'
df['Dashed MRP'] = df['Dashed MRP'].fillna(df['Current MRP'])

# Fill missing 'Color' with 'Black'
df['Color'] = df['Color'].fillna('Black')

In [10]:
df.isnull().sum()

Product Name              0
Rating (Stars)            0
Number of Reviews         0
Bought Last Month         0
Current MRP               0
Dashed MRP                0
Discount (%)              0
Free Delivery             0
Brand                     0
Product                   0
Storage                  14
Color                     0
New Bought Last Month     0
New Dashed MRP            0
New Discount (%)          0
RAM                       0
dtype: int64

In [11]:
df["Storage"].mode()

0    128GB
Name: Storage, dtype: object

In [12]:
df.fillna(df["Storage"].mode()[0], inplace=True)

In [13]:
df.isnull().sum()

Product Name             0
Rating (Stars)           0
Number of Reviews        0
Bought Last Month        0
Current MRP              0
Dashed MRP               0
Discount (%)             0
Free Delivery            0
Brand                    0
Product                  0
Storage                  0
Color                    0
New Bought Last Month    0
New Dashed MRP           0
New Discount (%)         0
RAM                      0
dtype: int64

In [14]:
df.shape

(455, 16)

In [15]:
df.dtypes

Product Name              object
Rating (Stars)           float64
Number of Reviews         object
Bought Last Month         object
Current MRP              float64
Dashed MRP                object
Discount (%)              object
Free Delivery             object
Brand                     object
Product                   object
Storage                   object
Color                     object
New Bought Last Month      int64
New Dashed MRP            object
New Discount (%)         float64
RAM                       object
dtype: object

In [16]:
df.head(10)

,Product Name,Rating (Stars),Number of Reviews,Bought Last Month,Current MRP,Dashed MRP,Discount (%),Free Delivery,Brand,Product,Storage,Color,New Bought Last Month,New Dashed MRP,New Discount (%),RAM
0,Apple iPhone 15 () -,4.5,217,200+ bought in past month,65900.0,₹79900,(18% off),1,Apple,iPhone 15,128GB,Green,200,79900.0,18.0,6 GB
1,Apple iPhone 15 () - Pink,4.4,213,100+ bought in past month,65900.0,₹79600,(17% off),1,Apple,iPhone 15,128GB,Pink,100,79600.0,17.0,6 GB
2,Apple iPhone 13 () - Starlight,4.5,"7,819",5K+ bought in past month,45490.0,₹59900,(24% off),1,Apple,iPhone 13,128GB,Starlight,5000,59900.0,24.0,4 or 6 GB
3,Apple iPhone 13 () - Midnight,4.5,"6,614",5K+ bought in past month,45490.0,₹59600,(24% off),1,Apple,iPhone 13,128GB,Midnight,5000,59600.0,24.0,4 or 6 GB
4,Apple iPhone 13 () - Pink,4.5,"3,136",5K+ bought in past month,45490.0,₹59900,(24% off),1,Apple,iPhone 13,128GB,Pink,5000,59900.0,24.0,4 or 6 GB
5,Apple iPhone 16 () -,4.5,79,500+ bought in past month,78400.0,₹79900,(2% off),1,Apple,iPhone 16,128GB,Black,500,79900.0,2.0,8 GB
6,Apple iPhone 15 () -,4.5,637,500+ bought in past month,65900.0,₹79600,(17% off),1,Apple,iPhone 15,128GB,Blue,500,79600.0,17.0,6 GB
7,Apple iPhone 16 () - Ultramarine,4.5,79,500+ bought in past month,77900.0,₹79900,(3% off),1,Apple,iPhone 16,128GB,Ultramarine,500,79900.0,3.0,8 GB
8,Apple iPhone 15 Plus () -,4.6,236,400+ bought in past month,69900.0,₹89600,(22% off),1,Apple,iPhone 15 Plus,128GB,Blue,400,89600.0,22.0,6 GB
9,Apple iPhone 14 () -,4.5,"1,640",200+ bought in past month,54900.0,₹69600,(21% off),1,Apple,iPhone 14,128GB,Blue,200,69600.0,21.0,6 GB

In [17]:
df['Number of Reviews'].unique()

array(['217', '213', '7,819', '6,614', '3,136', '79', '637', '236',
       '1,640', '6,323', '691', '2,063', '2,242', '44', '7', '265', '4',
       '76', '3', '53', '403', '848', '97', '1', '176', '88', '556', '18',
       '218', '318', '1,331', '10', '401', '63', '1,561', '112', '116',
       '463', '35', '256', '339', '134', '5', '6', '125', '61', '86',
       '83', '29', '24', '151', '84', '26', '8', '2', '14', '98', '12',
       '115', '9', '446', '1,437', '5,268', '21,342', '1,258', '5,555',
       '408', '228', '22,285', '1,184', '335', '1,693', '251', '712',
       '1,301', '635', '248', '591', '186', '967', '157', '129', '100',
       '8,283', '135', '7,015', '310', '13', '610', '150,734', '2,700',
       '212', '2,234', '54', '11', '747', '178', '73', '28', '77', '52',
       '57', '70', '21', '15,271', '1,470', '2,472', '58', '17', '469',
       '416', '1,352', '263', '400', '139', '571', '438', '56', '123',
       '567', '182', '202', '520', '68', '121', '99', '391', '280', '132',
       '454', '32', '231', '715', '39', '147', '41', '34', '4,527', '439',
       '573', '355', '35,249', '327', '1,730', '1,383', '174', '36,520',
       '12,329', '110,405', '285', '1,432', '74', '311', '43', '30', '16',
       '20', '37', '144', '75', '40', '953', '153', '557', '46', '3,947',
       '10,021', '232', '5,707', '863', '1,401', '15,056', '4,000',
       '2,561', '257', '8,014', '2,324', '1,241', '23,772', '50', '8,776',
       '101,748', '82'], dtype=object)

In [18]:
df['Free Delivery'].unique()

array(['1', '0', 'Yes', 'No'], dtype=object)

In [19]:
# Remove commas from 'Number of Reviews' and convert to numeric
df['Number of Reviews'] = df['Number of Reviews'].str.replace(',', '', regex=False).astype(int)

# Map 'Yes' to 1 and 'No' to 0 in 'Free Delivery'
df['Free Delivery'] = df['Free Delivery'].map({'Yes': 1, 'No': 0}).fillna(0).astype(int)

In [20]:
df['Free Delivery'].unique()

array([0, 1])

In [21]:
df['Number of Reviews'].unique()

array([   217,    213,   7819,   6614,   3136,     79,    637,    236,
         1640,   6323,    691,   2063,   2242,     44,      7,    265,
            4,     76,      3,     53,    403,    848,     97,      1,
          176,     88,    556,     18,    218,    318,   1331,     10,
          401,     63,   1561,    112,    116,    463,     35,    256,
          339,    134,      5,      6,    125,     61,     86,     83,
           29,     24,    151,     84,     26,      8,      2,     14,
           98,     12,    115,      9,    446,   1437,   5268,  21342,
         1258,   5555,    408,    228,  22285,   1184,    335,   1693,
          251,    712,   1301,    635,    248,    591,    186,    967,
          157,    129,    100,   8283,    135,   7015,    310,     13,
          610, 150734,   2700,    212,   2234,     54,     11,    747,
          178,     73,     28,     77,     52,     57,     70,     21,
        15271,   1470,   2472,     58,     17,    469,    416,   1352,
          263,    400,    139,    571,    438,     56,    123,    567,
          182,    202,    520,     68,    121,     99,    391,    280,
          132,    454,     32,    231,    715,     39,    147,     41,
           34,   4527,    439,    573,    355,  35249,    327,   1730,
         1383,    174,  36520,  12329, 110405,    285,   1432,     74,
          311,     43,     30,     16,     20,     37,    144,     75,
           40,    953,    153,    557,     46,   3947,  10021,    232,
         5707,    863,   1401,  15056,   4000,   2561,    257,   8014,
         2324,   1241,  23772,     50,   8776, 101748,     82])

In [22]:
df.dtypes

Product Name              object
Rating (Stars)           float64
Number of Reviews          int32
Bought Last Month         object
Current MRP              float64
Dashed MRP                object
Discount (%)              object
Free Delivery              int32
Brand                     object
Product                   object
Storage                   object
Color                     object
New Bought Last Month      int64
New Dashed MRP            object
New Discount (%)         float64
RAM                       object
dtype: object

In [23]:
df.isnull().sum()

Product Name             0
Rating (Stars)           0
Number of Reviews        0
Bought Last Month        0
Current MRP              0
Dashed MRP               0
Discount (%)             0
Free Delivery            0
Brand                    0
Product                  0
Storage                  0
Color                    0
New Bought Last Month    0
New Dashed MRP           0
New Discount (%)         0
RAM                      0
dtype: int64

In [24]:
df["RAM"].unique()

array(['6 GB', '4 or 6 GB', '8 GB', '4 GB', '8GB', '16GB', '12GB', '6GB',
       '4GB', '3GB', '2GB'], dtype=object)

In [25]:
# Remove 'GB' from 'Storage' and convert to numeric (in GB)
df['Storage_in_GB'] = df['Storage'].str.replace('GB', '', regex=False).apply(pd.to_numeric, errors='coerce')

# Clean 'RAM' column: Replace '4 or 6 GB' with '6 GB', remove 'GB' and convert to numeric
df['RAM'] = df['RAM'].replace({'4 or 6 GB': '6 GB'})
df['RAM_in_GB'] = df['RAM'].str.replace('GB', '', regex=False).apply(pd.to_numeric, errors='coerce')

# Fill any NaN values (if there are any) with a reasonable default value (e.g., 0 or the most common value)
df['RAM_in_GB'] = df['RAM_in_GB'].fillna(df['RAM_in_GB'].mode()[0]).astype(int)  # Using the mode to fill NaN

df.isnull().sum()

Product Name             0
Rating (Stars)           0
Number of Reviews        0
Bought Last Month        0
Current MRP              0
Dashed MRP               0
Discount (%)             0
Free Delivery            0
Brand                    0
Product                  0
Storage                  0
Color                    0
New Bought Last Month    0
New Dashed MRP           0
New Discount (%)         0
RAM                      0
Storage_in_GB            0
RAM_in_GB                0
dtype: int64

In [26]:
new_df = df[['Product Name','Rating (Stars)','Number of Reviews','New Bought Last Month','Current MRP','New Dashed MRP','New Discount (%)','Free Delivery','Brand','Product','Color','Storage_in_GB','RAM_in_GB']]

# Rename the columns
new_df.columns = ['product_name','rating_stars','number_of_reviews','bought_last_month','discounted_mrp','original_mrp','discount%','free_delivery','brand','product','color','storage_in_GB','RAM_in_GB']

# Save the DataFrame to a CSV file
new_df.to_csv("final_cleaned_smartphones.csv", index=False)

In [27]:
data = pd.read_csv("final_cleaned_smartphones.csv")
data.head()

,product_name,rating_stars,number_of_reviews,bought_last_month,discounted_mrp,original_mrp,discount%,free_delivery,brand,product,color,storage_in_GB,RAM_in_GB
0,Apple iPhone 15 () -,4.5,217,200,65900.0,79900.0,18.0,0,Apple,iPhone 15,Green,128,6
1,Apple iPhone 15 () - Pink,4.4,213,100,65900.0,79600.0,17.0,0,Apple,iPhone 15,Pink,128,6
2,Apple iPhone 13 () - Starlight,4.5,7819,5000,45490.0,59900.0,24.0,0,Apple,iPhone 13,Starlight,128,6
3,Apple iPhone 13 () - Midnight,4.5,6614,5000,45490.0,59600.0,24.0,0,Apple,iPhone 13,Midnight,128,6
4,Apple iPhone 13 () - Pink,4.5,3136,5000,45490.0,59900.0,24.0,0,Apple,iPhone 13,Pink,128,6

In [28]:
data.isnull().sum()

product_name         0
rating_stars         0
number_of_reviews    0
bought_last_month    0
discounted_mrp       0
original_mrp         0
discount%            0
free_delivery        0
brand                0
product              0
color                0
storage_in_GB        0
RAM_in_GB            0
dtype: int64

In [29]:
# Iterate over each column in the DataFrame
for column in data.columns:
    if (column != 'product_name')  and (column != 'product') :
        print(f"Unique values for '{column}':")
        print(data[column].unique())  # Print unique values for the column
        
        print(f"Data type for '{column}':")
        print(data[column].dtype)  # Print data type for the column
        print()
        print("-" * 50)  # Separator for readability
        print()

Unique values for 'rating_stars':
[4.5 4.4 4.6 3.8 5.  3.5 4.3 4.1 4.8 3.  3.6 4.7 3.7 4.  4.2 3.4 2.4 2.6
 2.9 2.5 3.1 1.  3.9 3.3 2.8 3.2 2.3 1.8 2.2 2.7 4.9]
Data type for 'rating_stars':
float64

--------------------------------------------------

Unique values for 'number_of_reviews':
[   217    213   7819   6614   3136     79    637    236   1640   6323
    691   2063   2242     44      7    265      4     76      3     53
    403    848     97      1    176     88    556     18    218    318
   1331     10    401     63   1561    112    116    463     35    256
    339    134      5      6    125     61     86     83     29     24
    151     84     26      8      2     14     98     12    115      9
    446   1437   5268  21342   1258   5555    408    228  22285   1184
    335   1693    251    712   1301    635    248    591    186    967
    157    129    100   8283    135   7015    310     13    610 150734
   2700    212   2234     54     11    747    178     73     28     77
     52     57     70     21  15271   1470   2472     58     17    469
    416   1352    263    400    139    571    438     56    123    567
    182    202    520     68    121     99    391    280    132    454
     32    231    715     39    147     41     34   4527    439    573
    355  35249    327   1730   1383    174  36520  12329 110405    285
   1432     74    311     43     30     16     20     37    144     75
     40    953    153    557     46   3947  10021    232   5707    863
   1401  15056   4000   2561    257   8014   2324   1241  23772     50
   8776 101748     82]
Data type for 'number_of_reviews':
int64

--------------------------------------------------

Unique values for 'bought_last_month':
[ 200  100 5000  500  400 4000  300   50    0 1000 2000 3000]
Data type for 'bought_last_month':
int64

--------------------------------------------------

Unique values for 'discounted_mrp':
[ 65900.  45490.  78400.  77900.  69900.  54900. 129900. 144900. 119900.
 128900. 164900.  86900.  97900.  54999.  94900.  75900.  89900.  77490.
 159900. 157900. 134900. 145900.  86990.  74900.  64900.  79900. 109900.
 139900.  66900. 149900. 169900.  73999. 109000.  99900.  76415.  17999.
  16999.  15657.  22999.  28999.  29999.  38999.  15640.  40999.  24999.
  66999.  99999.  61999.  32999.  27999.  20999.  19998.  19990.  39998.
  17490.  21990.  18490.  18990.  18999.  14399.  42999.  19999.  24499.
  17099.   8999.  15999.  13499.  12499.  28945.   5999.  19228.  13490.
  12999.  32996.   9199.  14990.  33999.   9499.   8499.   7299.  16150.
  12998.   7498.  16998.   7499.  12498.  12824.  17299.  15498.  35998.
  17998.  16649.  13498.  39999.  20998.  12346.  32998.  30998.  27949.
  14450.  12146.  17495.  14499.  11427.  16200.  16990.  15980.  11978.
  23499.  30999.  14999.  17190.  45999.  30799. 101999.  16499.  64999.
  88970.  25999.  26750.  26590.  30499.  57849.  31999.  56499. 152499.
   9998.  11498.  16490.  59990.  69999.  57999.  21999.  31979. 156999.
   8900.  79230. 164499.  13580.  28275.  18499.  23000.  25388.  26475.
   7999.  34849.  32130.  23999.  25989.  31880.  26141.  24779.  11999.
  32949.  51520.  13574. 159999.  33943.  10999.  26500.  45965.  33249.
  34781.  31600.  49999.  19808.  23370.  22950.  12920.  24102.  42399.
   9999.  15860.  18100.  34999.  26980.  25990.   6999.   9994.   9898.
  19178.  14748.  23490.  25499.  27899.  13479.  25580.  17899.]
Data type for 'discounted_mrp':
float64

--------------------------------------------------

Unique values for 'original_mrp':
['79900.0' '79600.0' '59900.0' '59600.0' '89600.0' '69600.0' '69900.0'
 '129900.0' '144990.0' '119900.0' '144900.0' '159900.0' '164900.0'
 '89900.0' '99900.0' '109900.0' '154000.0' '199900.0' '179900.0' '99600.0'
 '173900.0' '149900.0' '169900.0' '149999.0' '184900.0' '86900.0' '20999'
 '26999' '19999' '24999' '39999' '32999' '42999' '45999' '69999' '139999'
 '64999'
 '2     24999\n3     40999\n9     17999\n12    24999\n13    29999\n14    99999\n15    66999\n17    61999\n18    61999\n19    32999\nName: Current MRP, dtype: int64'
 '35999' '29999' '23999' '21999'
 '2     66999.0\n3     27999.0\n4     61999.0\n5     20999.0\n6     19998.0\n7     61999.0\n8     32999.0\n9     19990.0\n16    38999.0\n17    24999.0\n18    39998.0\nName: Current MRP, dtype: float64'
 '49999' '33999'
 '3     17490\n4     21990\n5     27999\n8     18490\n15    61999\nName: Current MRP, dtype: int64'
 '17490' '47999' '41999' '12999' '34999' '28999' '15999' '14999' '22999'
 '44999' '20990' '18990' '28990' '18999' '47990' '15499' '16990' '16999'
 '17999' '8999' '25999' '37999' '14990' '13999' '27499' '24499' '48999'
 '74999' '121999' '129000' '36999' '177999' '31999' '21499' '65999'
 '79999' '164999' '11499' '12499'
 '2     152499.0\n6      11498.0\n8      39999.0\n12     16490.0\n20     16499.0\nName: Current MRP, dtype: float64'
 '106999' '99999' '176999' '109999' '11999' '38999' '60999' '169999'
 '54999' '52999' '30999' '59999' '17499' '84999' '39990' '24280']
Data type for 'original_mrp':
object

--------------------------------------------------

Unique values for 'discount%':
[18. 17. 24.  2.  3. 22. 21. 35.  0. 19. 14. 15. 16. 20. 12. 13. 25. 26.
 31.  9. 37.  8. 28. 11.  7.  4. 29.  5. 50. 10. 52. 51. 53. 41. 36. 54.
 38. 57. 27. 39. 44. 33. 34. 30.  6. 59. 64. 65. 42. 23. 32. 56. 43. 49.
 63.]
Data type for 'discount%':
float64

--------------------------------------------------

Unique values for 'free_delivery':
[0 1]
Data type for 'free_delivery':
int64

--------------------------------------------------

Unique values for 'brand':
['Apple' 'Iphone' 'OnePlus' 'Unknown' 'Oppo' 'Samsung' 'Vivo' 'Xiaomi'
 'Redmi']
Data type for 'brand':
object

--------------------------------------------------

Unique values for 'color':
['Green' 'Pink' 'Starlight' 'Midnight' 'Black' 'Blue' 'Ultramarine'
 'White Titanium' 'Natural Titanium' 'Teal' 'Black Titanium' 'Purple'
 'Yellow' 'White' 'Red' 'Blue Titanium' 'Space Black' 'Desert Titanium'
 'Graphite' 'Pacific Blue' 'Silver' 'Gray' 'Gold']
Data type for 'color':
object

--------------------------------------------------

Unique values for 'storage_in_GB':
[128 256 512  64  32]
Data type for 'storage_in_GB':
int64

--------------------------------------------------

Unique values for 'RAM_in_GB':
[ 6  8  4 16 12  3  2]
Data type for 'RAM_in_GB':
int64

--------------------------------------------------

In [30]:
unknown_brand_data = data[data['brand'] == 'Unknown'][['product_name', 'brand']]
print(unknown_brand_data)

                                          product_name    brand
132       Oneplus Nord CE4 (Dark Chrome, RAM, Storage)  Unknown
139    Oneplus Nord CE4 (Celadon Marble, RAM, Storage)  Unknown
142       Oneplus Nord CE4 (Dark Chrome, RAM, Storage)  Unknown
144    Oneplus Nord CE4 (Celadon Marble, RAM, Storage)  Unknown
147       Oneplus Nord CE4 (Dark Chrome, RAM, Storage)  Unknown
..                                                 ...      ...
372  vivo Y18e (Space , RAM, Storage) with No Cost ...  Unknown
373  vivo Y28s 5G(Twinkling Purple, RAM, Storage) w...  Unknown
375  vivo Y18e (Gem , RAM, Storage) with No Cost EM...  Unknown
376  vivo Y18 (Space , RAM, Storage) with No Cost E...  Unknown
378  vivo Y200 Pro 5G (Silk , RAM, Storage) with No...  Unknown

[90 rows x 2 columns]

In [31]:
# Define the brand keywords mapping
brand_keywords = {
    'apple': ['iphone', 'apple'],
    'oneplus': ['oneplus', 'nord'],
    'oppo': ['oppo'],
    'samsung': ['samsung'],
    'vivo': ['vivo'],
    'xiaomi': ['xiaomi','redmi'],
    'realme': ['realme']
}
def assign_brand(product_name):
    product_name = product_name.lower()  # Convert to lowercase for case-insensitive matching
    for brand, keywords in brand_keywords.items():
        if any(keyword in product_name for keyword in keywords):
            return brand
    return 'Unknown'

# Only fill 'brand_new' for rows where 'brand' is 'Unknown'
data['brand_new'] = data.apply(
    lambda row: assign_brand(row['product_name']) if row['brand'] == 'Unknown' else row['brand'],
    axis=1
)

# Display the updated DataFrame
data[(data["brand_new"] == "NOT KNOWN") | (data["brand_new"] == "Unknown")]

Empty DataFrame
Columns: [product_name, rating_stars, number_of_reviews, bought_last_month, discounted_mrp, original_mrp, discount%, free_delivery, brand, product, color, storage_in_GB, RAM_in_GB, brand_new]
Index: []

In [32]:
data['brand_new'] = data['brand_new'].str.lower()
data['brand_new'].unique()

array(['apple', 'iphone', 'oneplus', 'oppo', 'realme', 'samsung', 'vivo',
       'xiaomi', 'redmi'], dtype=object)

In [33]:
# Iterate over each column in the DataFrame
for column in data.columns:
    if (column != 'product_name')  and (column != 'product') :
        print(f"Unique values for '{column}':")
        print(data[column].unique())  # Print unique values for the column
        
        print(f"Data type for '{column}':")
        print(data[column].dtype)  # Print data type for the column
        print()
        print("-" * 50)  # Separator for readability
        print()

Unique values for 'rating_stars':
[4.5 4.4 4.6 3.8 5.  3.5 4.3 4.1 4.8 3.  3.6 4.7 3.7 4.  4.2 3.4 2.4 2.6
 2.9 2.5 3.1 1.  3.9 3.3 2.8 3.2 2.3 1.8 2.2 2.7 4.9]
Data type for 'rating_stars':
float64

--------------------------------------------------

Unique values for 'number_of_reviews':
[   217    213   7819   6614   3136     79    637    236   1640   6323
    691   2063   2242     44      7    265      4     76      3     53
    403    848     97      1    176     88    556     18    218    318
   1331     10    401     63   1561    112    116    463     35    256
    339    134      5      6    125     61     86     83     29     24
    151     84     26      8      2     14     98     12    115      9
    446   1437   5268  21342   1258   5555    408    228  22285   1184
    335   1693    251    712   1301    635    248    591    186    967
    157    129    100   8283    135   7015    310     13    610 150734
   2700    212   2234     54     11    747    178     73     28     77
     52     57     70     21  15271   1470   2472     58     17    469
    416   1352    263    400    139    571    438     56    123    567
    182    202    520     68    121     99    391    280    132    454
     32    231    715     39    147     41     34   4527    439    573
    355  35249    327   1730   1383    174  36520  12329 110405    285
   1432     74    311     43     30     16     20     37    144     75
     40    953    153    557     46   3947  10021    232   5707    863
   1401  15056   4000   2561    257   8014   2324   1241  23772     50
   8776 101748     82]
Data type for 'number_of_reviews':
int64

--------------------------------------------------

Unique values for 'bought_last_month':
[ 200  100 5000  500  400 4000  300   50    0 1000 2000 3000]
Data type for 'bought_last_month':
int64

--------------------------------------------------

Unique values for 'discounted_mrp':
[ 65900.  45490.  78400.  77900.  69900.  54900. 129900. 144900. 119900.
 128900. 164900.  86900.  97900.  54999.  94900.  75900.  89900.  77490.
 159900. 157900. 134900. 145900.  86990.  74900.  64900.  79900. 109900.
 139900.  66900. 149900. 169900.  73999. 109000.  99900.  76415.  17999.
  16999.  15657.  22999.  28999.  29999.  38999.  15640.  40999.  24999.
  66999.  99999.  61999.  32999.  27999.  20999.  19998.  19990.  39998.
  17490.  21990.  18490.  18990.  18999.  14399.  42999.  19999.  24499.
  17099.   8999.  15999.  13499.  12499.  28945.   5999.  19228.  13490.
  12999.  32996.   9199.  14990.  33999.   9499.   8499.   7299.  16150.
  12998.   7498.  16998.   7499.  12498.  12824.  17299.  15498.  35998.
  17998.  16649.  13498.  39999.  20998.  12346.  32998.  30998.  27949.
  14450.  12146.  17495.  14499.  11427.  16200.  16990.  15980.  11978.
  23499.  30999.  14999.  17190.  45999.  30799. 101999.  16499.  64999.
  88970.  25999.  26750.  26590.  30499.  57849.  31999.  56499. 152499.
   9998.  11498.  16490.  59990.  69999.  57999.  21999.  31979. 156999.
   8900.  79230. 164499.  13580.  28275.  18499.  23000.  25388.  26475.
   7999.  34849.  32130.  23999.  25989.  31880.  26141.  24779.  11999.
  32949.  51520.  13574. 159999.  33943.  10999.  26500.  45965.  33249.
  34781.  31600.  49999.  19808.  23370.  22950.  12920.  24102.  42399.
   9999.  15860.  18100.  34999.  26980.  25990.   6999.   9994.   9898.
  19178.  14748.  23490.  25499.  27899.  13479.  25580.  17899.]
Data type for 'discounted_mrp':
float64

--------------------------------------------------

Unique values for 'original_mrp':
['79900.0' '79600.0' '59900.0' '59600.0' '89600.0' '69600.0' '69900.0'
 '129900.0' '144990.0' '119900.0' '144900.0' '159900.0' '164900.0'
 '89900.0' '99900.0' '109900.0' '154000.0' '199900.0' '179900.0' '99600.0'
 '173900.0' '149900.0' '169900.0' '149999.0' '184900.0' '86900.0' '20999'
 '26999' '19999' '24999' '39999' '32999' '42999' '45999' '69999' '139999'
 '64999'
 '2     24999\n3     40999\n9     17999\n12    24999\n13    29999\n14    99999\n15    66999\n17    61999\n18    61999\n19    32999\nName: Current MRP, dtype: int64'
 '35999' '29999' '23999' '21999'
 '2     66999.0\n3     27999.0\n4     61999.0\n5     20999.0\n6     19998.0\n7     61999.0\n8     32999.0\n9     19990.0\n16    38999.0\n17    24999.0\n18    39998.0\nName: Current MRP, dtype: float64'
 '49999' '33999'
 '3     17490\n4     21990\n5     27999\n8     18490\n15    61999\nName: Current MRP, dtype: int64'
 '17490' '47999' '41999' '12999' '34999' '28999' '15999' '14999' '22999'
 '44999' '20990' '18990' '28990' '18999' '47990' '15499' '16990' '16999'
 '17999' '8999' '25999' '37999' '14990' '13999' '27499' '24499' '48999'
 '74999' '121999' '129000' '36999' '177999' '31999' '21499' '65999'
 '79999' '164999' '11499' '12499'
 '2     152499.0\n6      11498.0\n8      39999.0\n12     16490.0\n20     16499.0\nName: Current MRP, dtype: float64'
 '106999' '99999' '176999' '109999' '11999' '38999' '60999' '169999'
 '54999' '52999' '30999' '59999' '17499' '84999' '39990' '24280']
Data type for 'original_mrp':
object

--------------------------------------------------

Unique values for 'discount%':
[18. 17. 24.  2.  3. 22. 21. 35.  0. 19. 14. 15. 16. 20. 12. 13. 25. 26.
 31.  9. 37.  8. 28. 11.  7.  4. 29.  5. 50. 10. 52. 51. 53. 41. 36. 54.
 38. 57. 27. 39. 44. 33. 34. 30.  6. 59. 64. 65. 42. 23. 32. 56. 43. 49.
 63.]
Data type for 'discount%':
float64

--------------------------------------------------

Unique values for 'free_delivery':
[0 1]
Data type for 'free_delivery':
int64

--------------------------------------------------

Unique values for 'brand':
['Apple' 'Iphone' 'OnePlus' 'Unknown' 'Oppo' 'Samsung' 'Vivo' 'Xiaomi'
 'Redmi']
Data type for 'brand':
object

--------------------------------------------------

Unique values for 'color':
['Green' 'Pink' 'Starlight' 'Midnight' 'Black' 'Blue' 'Ultramarine'
 'White Titanium' 'Natural Titanium' 'Teal' 'Black Titanium' 'Purple'
 'Yellow' 'White' 'Red' 'Blue Titanium' 'Space Black' 'Desert Titanium'
 'Graphite' 'Pacific Blue' 'Silver' 'Gray' 'Gold']
Data type for 'color':
object

--------------------------------------------------

Unique values for 'storage_in_GB':
[128 256 512  64  32]
Data type for 'storage_in_GB':
int64

--------------------------------------------------

Unique values for 'RAM_in_GB':
[ 6  8  4 16 12  3  2]
Data type for 'RAM_in_GB':
int64

--------------------------------------------------

Unique values for 'brand_new':
['apple' 'iphone' 'oneplus' 'oppo' 'realme' 'samsung' 'vivo' 'xiaomi'
 'redmi']
Data type for 'brand_new':
object

--------------------------------------------------

In [34]:
# Display all values in 'original_mrp' as a single scrollable output
print(data["original_mrp"].to_string())

0                                                79900.0
1                                                79600.0
2                                                59900.0
3                                                59600.0
4                                                59900.0
5                                                79900.0
6                                                79600.0
7                                                79900.0
8                                                89600.0
9                                                69600.0
10                                               59600.0
11                                               79600.0
12                                               69900.0
13                                               59900.0
14                                              129900.0
15                                              144990.0
16                                               89600.0
17                                              119900.0
18                                              119900.0
19                                               79900.0
20                                               79900.0
21                                              144900.0
22                                              159900.0
23                                              164900.0
24                                               89900.0
25                                               79900.0
26                                               99900.0
27                                               69900.0
28                                               69600.0
29                                               89600.0
30                                              109900.0
31                                               89600.0
32                                              154000.0
33                                               69600.0
34                                               89900.0
35                                               89900.0
36                                               89600.0
37                                               89900.0
38                                               89600.0
39                                               89600.0
40                                               89900.0
41                                               89900.0
42                                               69600.0
43                                               69600.0
44                                              109900.0
45                                               79600.0
46                                               89900.0
47                                               89900.0
48                                              119900.0
49                                               69600.0
50                                              199900.0
51                                               89900.0
52                                              199900.0
53                                               79600.0
54                                               69900.0
55                                               89600.0
56                                              179900.0
57                                               79900.0
58                                              159900.0
59                                              179900.0
60                                               99600.0
61                                               79900.0
62                                               89900.0
63                                               99900.0
64                                               79600.0
65                                               79600.0
66                                               99900.0
67                                              129900.0
68                                               99900.0
69                                              109900.0
70                                              109900.0
71                                              173900.0
72                                               89900.0
73                                               99900.0
74                                              149900.0
75                                              179900.0
76                                               79600.0
77                                              169900.0
78                                              179900.0
79                                              149999.0
80                                              149900.0
81                                              149900.0
82                                              179900.0
83                                               99900.0
84                                              199900.0
85                                               89900.0
86                                               79600.0
87                                               89900.0
88                                              179900.0
89                                               99900.0
90                                              109900.0
91                                               99900.0
92                                              149900.0
93                                              109900.0
94                                               99900.0
95                                              129900.0
96                                               79900.0
97                                               89900.0
98                                              129900.0
99                                              119900.0
100                                              99900.0
101                                              89900.0
102                                             184900.0
103                                             199900.0
104                                              79900.0
105                                             119900.0
106                                             164900.0
107                                             199900.0
108                                              99900.0
109                                              99900.0
110                                              89900.0
111                                             184900.0
112                                             184900.0
113                                             119900.0
114                                             109900.0
115                                              89900.0
116                                              86900.0
117                                             199900.0
118                                             164900.0
119                                             119900.0
120                                             184900.0
121                                              89900.0
122                                             119900.0
123                                             109900.0
124                                              89900.0
125                                             119900.0
126                                             119900.0
127                                             119900.0
128                                             119900.0
129                                                20999
130                                                26999
131                                                19999
132                                                24999
133                                                39999
134                                                32999
135                                                42999
136                                                19999
137                                                45999
138                                                20999
139                                                26999
140                                                32999
141                                                20999
142                                                26999
143                                                69999
144                                                26999
145                                                45999
146                                                20999
147                                                26999
148                                                32999
149                                               139999
150                                                69999
151                                                64999
152    2     24999\n3     40999\n9     17999\n12    2...
153                                                35999
154                                                69999
155                                                29999
156                                                64999
157                                                23999
158                                                21999
159    2     66999.0\n3     27999.0\n4     61999.0\n5...
160                                                35999
161                                                21999
162                                                42999
163                                                49999
164    2     66999.0\n3     27999.0\n4     61999.0\n5...
165                                                19999
166                                                33999
167                                                29999
168                                                19999
169    3     17490\n4     21990\n5     27999\n8     1...
170                                                21999
171                                                29999
172                                                17490
173                                                47999
174                                                41999
175                                                49999
176                                                35999
177                                                33999
178                                                12999
179                                                34999
180                                                20999
181                                                19999
182                                                26999
183                                                28999
184                                                19999
185                                                15999
186                                                34999
187                                                14999
188                                                22999
189                                                32999
190                                                22999
191                                                44999
192                                                20999
193                                                26999
194                                                12999
195                                                15999
196                                                32999
197                                                15999
198                                                28999
199                                                32999
200                                                12999
201                                                12999
202                                                14999
203                                                14999
204                                                26999
205                                                20990
206                                                18990
207                                                28990
208                                                29999
209                                                44999
210                                                14999
211                                                18999
212                                                47990
213                                                12999
214                                                18990
215                                                15499
216                                                16990
217                                                16999
218                                                28999
219                                                17999
220                                                 8999
221                                                19999
222                                                 8999
223                                                14999
224                                                18999
225                                                14999
226                                                19999
227                                                25999
228                                                24999
229                                                37999
230                                                20999
231                                                21999
232                                                15999
233                                                41999
234                                                23999
235                                                17999
236                                                35999
237                                                33999
238                                                25999
239                                                25999
240                                                15999
241                                                37999
242                                                21999
243                                                19999
244                                                17999
245                                                24999
246                                                19999
247                                                17999
248                                                24999
249                                                21999
250                                                35999
251                                                18999
252                                                14990
253                                                22999
254                                                23999
255                                                37999
256                                                21999
257                                                13999
258                                                20999
259                                                23999
260                                                27499
261                                                24499
262                                                33999
263                                                15999
264                                                27499
265                                                24499
266                                                28999
267                                                16999
268                                                24499
269                                                15999
270                                                24999
271                                                48999
272                                                28999
273                                                33999
274                                                74999
275                                                74999
276                                               121999
277                                                17999
278                                               129000
279                                                36999
280                                                17999
281                                               129000
282                                               177999
283                                                36999
284                                                36999
285                                                31999
286                                                33999
287                                               121999
288                                                74999
289                                                48999
290                                                36999
291                                                21499
292                                                17999
293                                                36999
294                                                32999
295                                                45999
296                                                74999
297                                                74999
298                                                65999
299                                                74999
300                                                74999
301                                                45999
302                                                42999
303                                                36999
304                                                15999
305                                                17999
306                                                79999
307                                                44999
308                                                16999
309                                                45999
310                                               164999
311                                                11499
312                                                42999
313                                               164999
314                                                12499
315                                                44999
316    2     152499.0\n6      11498.0\n8      39999.0...
317                                                17999
318                                               106999
319                                                99999
320                                                99999
321                                                24499
322                                                42999
323                                               176999
324                                                11499
325                                               109999
326                                               176999
327                                                99999
328                                                20990
329                                                35999
330                                                23999
331                                                32999
332                                                19999
333                                                32999
334                                                34999
335                                                12999
336                                                23999
337                                                25999
338                                                33999
339                                                11999
340                                                42999
341                                                11999
342                                                39999
343                                                17999
344                                                29999
345                                                38999
346                                                39999
347                                                38999
348                                                19999
349                                                25999

In [35]:
# Drop rows with specific indices
data = data.drop([316, 164, 169, 159, 152])

# Convert 'original_mrp' column to numeric (integer) by first removing decimals, then converting
data['original_mrp'] = pd.to_numeric(data['original_mrp'], errors='coerce').astype('Int64')

In [36]:
# Iterate over each column in the DataFrame
for column in data.columns:
    if (column != 'product_name')  and (column != 'product') :
        print(f"Unique values for '{column}':")
        print(data[column].unique())  # Print unique values for the column
        
        print(f"Data type for '{column}':")
        print(data[column].dtype)  # Print data type for the column
        print()
        print("-" * 50)  # Separator for readability
        print()

Unique values for 'rating_stars':
[4.5 4.4 4.6 3.8 5.  3.5 4.3 4.1 4.8 3.  3.6 4.7 3.7 4.  4.2 3.4 2.4 2.6
 2.9 2.5 3.1 1.  3.9 3.3 2.8 3.2 2.3 1.8 2.2 2.7 4.9]
Data type for 'rating_stars':
float64

--------------------------------------------------

Unique values for 'number_of_reviews':
[   217    213   7819   6614   3136     79    637    236   1640   6323
    691   2063   2242     44      7    265      4     76      3     53
    403    848     97      1    176     88    556     18    218    318
   1331     10    401     63   1561    112    116    463     35    256
    339    134      5      6    125     61     86     83     29     24
    151     84     26      8      2     14     98     12    115      9
    446   1437   5268  21342   1258   5555    408    228  22285   1184
    335   1693    251    712   1301    635    248    591    186    157
    129    100   8283    135   7015    310     13 150734   2700    212
     54     11    747    178     73     28     77     52     57     70
     21  15271   1470   2472     58     17    469    416   1352    263
    400    139    571    438     56    123    567    182    202    520
     68    121     99    391    280    132    454     32    231    715
     39    147     41     34   4527    439    573    355  35249    327
   1730   1383    174  36520  12329    285   1432     74    311     43
     30     16     20     37    144     75     40    953    153    557
     46   3947  10021    232   5707    863   1401  15056   4000   2561
    257   8014   2324   1241  23772     50   8776 101748     82]
Data type for 'number_of_reviews':
int64

--------------------------------------------------

Unique values for 'bought_last_month':
[ 200  100 5000  500  400 4000  300   50    0 1000 2000 3000]
Data type for 'bought_last_month':
int64

--------------------------------------------------

Unique values for 'discounted_mrp':
[ 65900.  45490.  78400.  77900.  69900.  54900. 129900. 144900. 119900.
 128900. 164900.  86900.  97900.  54999.  94900.  75900.  89900.  77490.
 159900. 157900. 134900. 145900.  86990.  74900.  64900.  79900. 109900.
 139900.  66900. 149900. 169900.  73999. 109000.  99900.  76415.  17999.
  16999.  15657.  22999.  28999.  29999.  38999.  15640.  40999.  24999.
  66999.  99999.  61999.  32999.  27999.  20999.  19998.  19990.  17490.
  21990.  18490.  18990.  18999.  14399.  42999.  19999.  24499.  17099.
   8999.  15999.  13499.  12499.  28945.   5999.  19228.  13490.  12999.
  32996.   9199.  14990.  33999.   9499.   8499.   7299.  16150.  12998.
   7498.  16998.   7499.  12498.  12824.  17299.  15498.  35998.  17998.
  16649.  13498.  39999.  20998.  12346.  32998.  30998.  27949.  14450.
  12146.  17495.  14499.  11427.  16200.  16990.  15980.  11978.  23499.
  30999.  14999.  17190.  45999.  30799. 101999.  16499.  64999.  88970.
  25999.  26750.  26590.  30499.  57849.  31999.  56499. 152499.   9998.
  11498.  59990.  69999.  57999.  21999.  31979. 156999.   8900.  79230.
 164499.  13580.  28275.  18499.  23000.  25388.  26475.   7999.  34849.
  32130.  23999.  25989.  31880.  26141.  24779.  11999.  32949.  51520.
  13574. 159999.  33943.  10999.  26500.  45965.  33249.  34781.  31600.
  49999.  19808.  23370.  22950.  12920.  24102.  42399.   9999.  15860.
  18100.  34999.  26980.  25990.   6999.   9994.   9898.  19178.  14748.
  23490.  25499.  27899.  13479.  25580.  17899.]
Data type for 'discounted_mrp':
float64

--------------------------------------------------

Unique values for 'original_mrp':
<IntegerArray>
[ 79900,  79600,  59900,  59600,  89600,  69600,  69900, 129900, 144990,
 119900, 144900, 159900, 164900,  89900,  99900, 109900, 154000, 199900,
 179900,  99600, 173900, 149900, 169900, 149999, 184900,  86900,  20999,
  26999,  19999,  24999,  39999,  32999,  42999,  45999,  69999, 139999,
  64999,  35999,  29999,  23999,  21999,  49999,  33999,  17490,  47999,
  41999,  12999,  34999,  28999,  15999,  14999,  22999,  44999,  20990,
  18990,  28990,  18999,  47990,  15499,  16990,  16999,  17999,   8999,
  25999,  37999,  14990,  13999,  27499,  24499,  48999,  74999, 121999,
 129000,  36999, 177999,  31999,  21499,  65999,  79999, 164999,  11499,
  12499, 106999,  99999, 176999, 109999,  11999,  38999,  60999, 169999,
  54999,  52999,  30999,  59999,  17499,  84999,  39990,  24280]
Length: 98, dtype: Int64
Data type for 'original_mrp':
Int64

--------------------------------------------------

Unique values for 'discount%':
[18. 17. 24.  2.  3. 22. 21. 35.  0. 19. 14. 15. 16. 20. 12. 13. 25. 26.
 31.  9. 37.  8. 28. 11.  7.  4. 29.  5. 50. 10. 52. 51. 53. 41. 36. 54.
 38. 57. 27. 39. 44. 33. 34. 30.  6. 59. 64. 65. 42. 23. 32. 56. 43. 49.
 63.]
Data type for 'discount%':
float64

--------------------------------------------------

Unique values for 'free_delivery':
[0 1]
Data type for 'free_delivery':
int64

--------------------------------------------------

Unique values for 'brand':
['Apple' 'Iphone' 'OnePlus' 'Unknown' 'Oppo' 'Samsung' 'Vivo' 'Xiaomi'
 'Redmi']
Data type for 'brand':
object

--------------------------------------------------

Unique values for 'color':
['Green' 'Pink' 'Starlight' 'Midnight' 'Black' 'Blue' 'Ultramarine'
 'White Titanium' 'Natural Titanium' 'Teal' 'Black Titanium' 'Purple'
 'Yellow' 'White' 'Red' 'Blue Titanium' 'Space Black' 'Desert Titanium'
 'Graphite' 'Pacific Blue' 'Silver' 'Gray' 'Gold']
Data type for 'color':
object

--------------------------------------------------

Unique values for 'storage_in_GB':
[128 256 512  64  32]
Data type for 'storage_in_GB':
int64

--------------------------------------------------

Unique values for 'RAM_in_GB':
[ 6  8  4 16 12  3  2]
Data type for 'RAM_in_GB':
int64

--------------------------------------------------

Unique values for 'brand_new':
['apple' 'iphone' 'oneplus' 'oppo' 'realme' 'samsung' 'vivo' 'xiaomi'
 'redmi']
Data type for 'brand_new':
object

--------------------------------------------------

In [37]:
data["brand"] = data["brand_new"]
data = data.drop("brand_new", axis=1)

In [38]:
data.to_csv("final_cleaned_smartphones2.csv", index=False)

In [39]:
data.isnull().sum()

product_name         0
rating_stars         0
number_of_reviews    0
bought_last_month    0
discounted_mrp       0
original_mrp         0
discount%            0
free_delivery        0
brand                0
product              0
color                0
storage_in_GB        0
RAM_in_GB            0
dtype: int64