In [75]:
import pandas as pd

# List of CSV file names
file_names = ["iphone.csv", "oneplus.csv", "oppo.csv", "realme.csv", "samsung.csv", "vivo.csv", "xiaomi.csv"]

# Initialize an empty list to store DataFrames
dataframes = []

# Loop through each file and read its content into a DataFrame
for file_name in file_names:
    df = pd.read_csv(file_name)  # Read the CSV file
    dataframes.append(df)        # Append the DataFrame to the list

# Concatenate all DataFrames
merged_df = pd.concat(dataframes, ignore_index=True)

# Save the combined DataFrame to a new CSV file
merged_df.to_csv("merged_smartphones.csv", index=False)

print("All files have been merged and saved to 'merged_smartphones.csv'.")

All files have been merged and saved to 'merged_smartphones.csv'.

In [76]:
df = pd.read_csv("merged_smartphones.csv")
df.isnull().sum()

Product Name               0
Rating (Stars)             0
Number of Reviews          0
Bought Last Month         15
Current MRP                0
Dashed MRP                27
Discount (%)              29
Free Delivery              0
Brand                     14
Product                  109
Storage                   14
Color                      4
New Bought Last Month      0
New Dashed MRP             0
New Discount (%)           0
RAM                        0
dtype: int64

In [77]:
df.shape

(455, 16)

In [78]:
df[df['Product'].isnull()]

,Product Name,Rating (Stars),Number of Reviews,Bought Last Month,Current MRP,Dashed MRP,Discount (%),Free Delivery,Brand,Product,Storage,Color,New Bought Last Month,New Dashed MRP,New Discount (%),RAM
50,Apple iPhone 15 Pro Max (1 TB) - Natural Titanium,3.0,10,M.R.P:,159900.0,₹199900,(20% off),0,NaN,NaN,NaN,Red,0,199900.0,20.0,6 GB
52,Apple iPhone 15 Pro Max (1 TB) - Black Titanium,3.6,7,M.R.P:,159900.0,₹199900,(20% off),0,NaN,NaN,NaN,Red,0,199900.0,20.0,6 GB
56,Apple iPhone 13 Pro Max (1TB) - Silver,4.6,"1,561",M.R.P:,157900.0,₹179900,(12% off),0,NaN,NaN,NaN,Red,0,179900.0,12.0,4 or 6 GB
77,Apple iPhone 16 Pro (1 TB) - White Titanium,3.8,44,NaN,169900.0,NaN,NaN,0,NaN,NaN,NaN,Red,0,169900.0,0.0,8 GB
84,Apple iPhone 15 Pro Max (1 TB) - White Titanium,4.2,7,M.R.P:,159900.0,₹199900,(20% off),0,NaN,NaN,NaN,Red,0,199900.0,20.0,6 GB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,"vivo Y18e (Space Black, 4GB RAM, 64GB Storage)...",3.9,153,100+ bought in past month,7999.0,₹11999,(33% off),No,Unknown,NaN,64GB,Black,100,11999,33.0,4GB
373,"vivo Y28s 5G(Twinkling Purple, 8GB RAM, 128GB ...",3.7,74,100+ bought in past month,16499.0,₹21999,(25% off),No,Unknown,NaN,128GB,Black,100,21999,25.0,8GB
375,"vivo Y18e (Gem Green, 4GB RAM, 64GB Storage) w...",3.9,153,100+ bought in past month,7999.0,₹11999,(33% off),No,Unknown,NaN,64GB,Green,100,11999,33.0,4GB
376,"vivo Y18 (Space Black, 4GB RAM, 128GB Storage)...",3.8,37,0,9499.0,₹13999,(32% off),No,Unknown,NaN,128GB,Black,0,13999,32.0,4GB
378,"vivo Y200 Pro 5G (Silk Green, 8GB RAM, 128GB S...",3.8,40,0,24999.0,₹29999,(17% off),No,Unknown,NaN,128GB,Green,0,29999,17.0,8GB

In [79]:
brands = ['iphone', 'oneplus', 'oppo', 'vivo', 'realme', 'xiaomi', 'redmi', 'samsung']

# Function to extract the brand based on keywords in 'Product Name'
def extract_brand(product_name):
    for brand in brands:
        if brand.lower() in product_name.lower():
            return brand.capitalize()
    return 'Unknown'  # If no brand is matched

# Fill missing 'Brand' based on 'Product Name'
df['Brand'] = df['Brand'].fillna(df['Product Name'].apply(extract_brand))

df['Brand'].isnull().sum()

0

In [80]:
import re

def clean_product_name(product_name):
    # Removing storage (e.g., '64GB', '128GB')
    product_name = re.sub(r'\d+GB', '', product_name)
    # Removing color (e.g., 'Black', 'Red', 'Green')
    product_name = re.sub(r'(Black|Red|Green|Blue|White|Silver|Titanium)', '', product_name, flags=re.IGNORECASE)
    # Removing RAM info (e.g., '8GB', '4GB')
    product_name = re.sub(r'\d+GB RAM', '', product_name)
    product_name = re.sub(r'\d+ GB', '', product_name)
    # Clean extra spaces
    return ' '.join(product_name.split())

# Clean 'Product Name' to remove storage, color, and RAM info
df['Product Name'] = df['Product Name'].apply(clean_product_name)

# Fill missing 'Product' with cleaned 'Product Name'
df['Product'] = df['Product'].fillna(df['Product Name'])

df['Product'].isnull().sum()

0

In [81]:
df["Free Delivery"].unique()

array(['1', '0', 'Yes', 'No'], dtype=object)

In [82]:
df.isnull().sum()

Product Name              0
Rating (Stars)            0
Number of Reviews         0
Bought Last Month        15
Current MRP               0
Dashed MRP               27
Discount (%)             29
Free Delivery             0
Brand                     0
Product                   0
Storage                  14
Color                     4
New Bought Last Month     0
New Dashed MRP            0
New Discount (%)          0
RAM                       0
dtype: int64

In [83]:
df['Bought Last Month'] = df['Bought Last Month'].fillna(0)

df['Discount (%)'] = df['Discount (%)'].fillna(0)

# Fill missing 'Dashed MRP' with the value from 'Current MRP'
df['Dashed MRP'] = df['Dashed MRP'].fillna(df['Current MRP'])

# Fill missing 'Color' with 'Black'
df['Color'] = df['Color'].fillna('Black')

In [84]:
df.isnull().sum()

Product Name              0
Rating (Stars)            0
Number of Reviews         0
Bought Last Month         0
Current MRP               0
Dashed MRP                0
Discount (%)              0
Free Delivery             0
Brand                     0
Product                   0
Storage                  14
Color                     0
New Bought Last Month     0
New Dashed MRP            0
New Discount (%)          0
RAM                       0
dtype: int64

In [85]:
df["Storage"].mode()

0    128GB
Name: Storage, dtype: object

In [86]:
df.fillna(df["Storage"].mode()[0], inplace=True)

In [87]:
df.isnull().sum()

Product Name             0
Rating (Stars)           0
Number of Reviews        0
Bought Last Month        0
Current MRP              0
Dashed MRP               0
Discount (%)             0
Free Delivery            0
Brand                    0
Product                  0
Storage                  0
Color                    0
New Bought Last Month    0
New Dashed MRP           0
New Discount (%)         0
RAM                      0
dtype: int64

In [88]:
df.shape

(455, 16)

In [89]:
df.dtypes

Product Name              object
Rating (Stars)           float64
Number of Reviews         object
Bought Last Month         object
Current MRP              float64
Dashed MRP                object
Discount (%)              object
Free Delivery             object
Brand                     object
Product                   object
Storage                   object
Color                     object
New Bought Last Month      int64
New Dashed MRP            object
New Discount (%)         float64
RAM                       object
dtype: object

In [90]:
df.head(10)

,Product Name,Rating (Stars),Number of Reviews,Bought Last Month,Current MRP,Dashed MRP,Discount (%),Free Delivery,Brand,Product,Storage,Color,New Bought Last Month,New Dashed MRP,New Discount (%),RAM
0,Apple iPhone 15 () -,4.5,217,200+ bought in past month,65900.0,₹79900,(18% off),1,Apple,iPhone 15,128GB,Green,200,79900.0,18.0,6 GB
1,Apple iPhone 15 () - Pink,4.4,213,100+ bought in past month,65900.0,₹79600,(17% off),1,Apple,iPhone 15,128GB,Pink,100,79600.0,17.0,6 GB
2,Apple iPhone 13 () - Starlight,4.5,"7,819",5K+ bought in past month,45490.0,₹59900,(24% off),1,Apple,iPhone 13,128GB,Starlight,5000,59900.0,24.0,4 or 6 GB
3,Apple iPhone 13 () - Midnight,4.5,"6,614",5K+ bought in past month,45490.0,₹59600,(24% off),1,Apple,iPhone 13,128GB,Midnight,5000,59600.0,24.0,4 or 6 GB
4,Apple iPhone 13 () - Pink,4.5,"3,136",5K+ bought in past month,45490.0,₹59900,(24% off),1,Apple,iPhone 13,128GB,Pink,5000,59900.0,24.0,4 or 6 GB
5,Apple iPhone 16 () -,4.5,79,500+ bought in past month,78400.0,₹79900,(2% off),1,Apple,iPhone 16,128GB,Black,500,79900.0,2.0,8 GB
6,Apple iPhone 15 () -,4.5,637,500+ bought in past month,65900.0,₹79600,(17% off),1,Apple,iPhone 15,128GB,Blue,500,79600.0,17.0,6 GB
7,Apple iPhone 16 () - Ultramarine,4.5,79,500+ bought in past month,77900.0,₹79900,(3% off),1,Apple,iPhone 16,128GB,Ultramarine,500,79900.0,3.0,8 GB
8,Apple iPhone 15 Plus () -,4.6,236,400+ bought in past month,69900.0,₹89600,(22% off),1,Apple,iPhone 15 Plus,128GB,Blue,400,89600.0,22.0,6 GB
9,Apple iPhone 14 () -,4.5,"1,640",200+ bought in past month,54900.0,₹69600,(21% off),1,Apple,iPhone 14,128GB,Blue,200,69600.0,21.0,6 GB

In [91]:
df['Number of Reviews'].unique()

array(['217', '213', '7,819', '6,614', '3,136', '79', '637', '236',
       '1,640', '6,323', '691', '2,063', '2,242', '44', '7', '265', '4',
       '76', '3', '53', '403', '848', '97', '1', '176', '88', '556', '18',
       '218', '318', '1,331', '10', '401', '63', '1,561', '112', '116',
       '463', '35', '256', '339', '134', '5', '6', '125', '61', '86',
       '83', '29', '24', '151', '84', '26', '8', '2', '14', '98', '12',
       '115', '9', '446', '1,437', '5,268', '21,342', '1,258', '5,555',
       '408', '228', '22,285', '1,184', '335', '1,693', '251', '712',
       '1,301', '635', '248', '591', '186', '967', '157', '129', '100',
       '8,283', '135', '7,015', '310', '13', '610', '150,734', '2,700',
       '212', '2,234', '54', '11', '747', '178', '73', '28', '77', '52',
       '57', '70', '21', '15,271', '1,470', '2,472', '58', '17', '469',
       '416', '1,352', '263', '400', '139', '571', '438', '56', '123',
       '567', '182', '202', '520', '68', '121', '99', '391', '280', '132',
       '454', '32', '231', '715', '39', '147', '41', '34', '4,527', '439',
       '573', '355', '35,249', '327', '1,730', '1,383', '174', '36,520',
       '12,329', '110,405', '285', '1,432', '74', '311', '43', '30', '16',
       '20', '37', '144', '75', '40', '953', '153', '557', '46', '3,947',
       '10,021', '232', '5,707', '863', '1,401', '15,056', '4,000',
       '2,561', '257', '8,014', '2,324', '1,241', '23,772', '50', '8,776',
       '101,748', '82'], dtype=object)

In [92]:
df['Free Delivery'].unique()

array(['1', '0', 'Yes', 'No'], dtype=object)

In [93]:
# Remove commas from 'Number of Reviews' and convert to numeric
df['Number of Reviews'] = df['Number of Reviews'].str.replace(',', '', regex=False).astype(int)

# Map 'Yes' to 1 and 'No' to 0 in 'Free Delivery'
df['Free Delivery'] = df['Free Delivery'].map({'Yes': 1, 'No': 0}).fillna(0).astype(int)

In [94]:
df['Free Delivery'].unique()

array([0, 1])

In [95]:
df['Number of Reviews'].unique()

array([   217,    213,   7819,   6614,   3136,     79,    637,    236,
         1640,   6323,    691,   2063,   2242,     44,      7,    265,
            4,     76,      3,     53,    403,    848,     97,      1,
          176,     88,    556,     18,    218,    318,   1331,     10,
          401,     63,   1561,    112,    116,    463,     35,    256,
          339,    134,      5,      6,    125,     61,     86,     83,
           29,     24,    151,     84,     26,      8,      2,     14,
           98,     12,    115,      9,    446,   1437,   5268,  21342,
         1258,   5555,    408,    228,  22285,   1184,    335,   1693,
          251,    712,   1301,    635,    248,    591,    186,    967,
          157,    129,    100,   8283,    135,   7015,    310,     13,
          610, 150734,   2700,    212,   2234,     54,     11,    747,
          178,     73,     28,     77,     52,     57,     70,     21,
        15271,   1470,   2472,     58,     17,    469,    416,   1352,
          263,    400,    139,    571,    438,     56,    123,    567,
          182,    202,    520,     68,    121,     99,    391,    280,
          132,    454,     32,    231,    715,     39,    147,     41,
           34,   4527,    439,    573,    355,  35249,    327,   1730,
         1383,    174,  36520,  12329, 110405,    285,   1432,     74,
          311,     43,     30,     16,     20,     37,    144,     75,
           40,    953,    153,    557,     46,   3947,  10021,    232,
         5707,    863,   1401,  15056,   4000,   2561,    257,   8014,
         2324,   1241,  23772,     50,   8776, 101748,     82])

In [96]:
df.dtypes

Product Name              object
Rating (Stars)           float64
Number of Reviews          int32
Bought Last Month         object
Current MRP              float64
Dashed MRP                object
Discount (%)              object
Free Delivery              int32
Brand                     object
Product                   object
Storage                   object
Color                     object
New Bought Last Month      int64
New Dashed MRP            object
New Discount (%)         float64
RAM                       object
dtype: object

In [97]:
df.isnull().sum()

Product Name             0
Rating (Stars)           0
Number of Reviews        0
Bought Last Month        0
Current MRP              0
Dashed MRP               0
Discount (%)             0
Free Delivery            0
Brand                    0
Product                  0
Storage                  0
Color                    0
New Bought Last Month    0
New Dashed MRP           0
New Discount (%)         0
RAM                      0
dtype: int64

In [102]:
df["RAM"].unique()

array(['6 GB', '4 or 6 GB', '8 GB', '4 GB', '8GB', '16GB', '12GB', '6GB',
       '4GB', '3GB', '2GB'], dtype=object)

In [103]:
# Remove 'GB' from 'Storage' and convert to numeric (in GB)
df['Storage_in_GB'] = df['Storage'].str.replace('GB', '', regex=False).apply(pd.to_numeric, errors='coerce')

# Clean 'RAM' column: Replace '4 or 6 GB' with '6 GB', remove 'GB' and convert to numeric
df['RAM'] = df['RAM'].replace({'4 or 6 GB': '6 GB'})
df['RAM_in_GB'] = df['RAM'].str.replace('GB', '', regex=False).apply(pd.to_numeric, errors='coerce')

# Fill any NaN values (if there are any) with a reasonable default value (e.g., 0 or the most common value)
df['RAM_in_GB'] = df['RAM_in_GB'].fillna(df['RAM_in_GB'].mode()[0]).astype(int)  # Using the mode to fill NaN

df.isnull().sum()

Product Name             0
Rating (Stars)           0
Number of Reviews        0
Bought Last Month        0
Current MRP              0
Dashed MRP               0
Discount (%)             0
Free Delivery            0
Brand                    0
Product                  0
Storage                  0
Color                    0
New Bought Last Month    0
New Dashed MRP           0
New Discount (%)         0
RAM                      0
Storage_in_GB            0
RAM_in_GB                0
dtype: int64

In [104]:
new_df = df[['Product Name','Rating (Stars)','Number of Reviews','New Bought Last Month','Current MRP','New Dashed MRP','New Discount (%)','Free Delivery','Brand','Product','Color','Storage_in_GB','RAM_in_GB']]

# Rename the columns
new_df.columns = ['product_name','rating_stars','number_of_reviews','bought_last_month','discounted_mrp','original_mrp','discount%','free_delivery','brand','product','color','storage_in_GB','RAM_in_GB']

# Save the DataFrame to a CSV file
new_df.to_csv("final_cleaned_smartphones.csv", index=False)

In [105]:
data = pd.read_csv("final_cleaned_smartphones.csv")
data.head()

,product_name,rating_stars,number_of_reviews,bought_last_month,discounted_mrp,original_mrp,discount%,free_delivery,brand,product,color,storage_in_GB,RAM_in_GB
0,Apple iPhone 15 () -,4.5,217,200,65900.0,79900.0,18.0,0,Apple,iPhone 15,Green,128,6
1,Apple iPhone 15 () - Pink,4.4,213,100,65900.0,79600.0,17.0,0,Apple,iPhone 15,Pink,128,6
2,Apple iPhone 13 () - Starlight,4.5,7819,5000,45490.0,59900.0,24.0,0,Apple,iPhone 13,Starlight,128,6
3,Apple iPhone 13 () - Midnight,4.5,6614,5000,45490.0,59600.0,24.0,0,Apple,iPhone 13,Midnight,128,6
4,Apple iPhone 13 () - Pink,4.5,3136,5000,45490.0,59900.0,24.0,0,Apple,iPhone 13,Pink,128,6

In [106]:
data.isnull().sum()

product_name         0
rating_stars         0
number_of_reviews    0
bought_last_month    0
discounted_mrp       0
original_mrp         0
discount%            0
free_delivery        0
brand                0
product              0
color                0
storage_in_GB        0
RAM_in_GB            0
dtype: int64